<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
</head>
<body>
    <main>
        <h1>STUDENTS</h1>
            <span class="rectangle" th:each="student:${stu}" style="width: 200px; display: inline-block;">
                <span th:style=
                "'outline-style: solid;
                display: flex; 
                justify-content: center;
                align-items: center;
                gap: 5px;
                outline-color:'+${student.hairColor}+'; 
                width: '+${student.height}+'px;
                height: '+${student.weight}+'px;'" >
                    <span th:text="${student.name}"></span>
                    <span th:text="${student.gpa} + ' GPA'"></span>
                </span>
            </span>
    </main>
</body>
</html>